<h2>Editar conteúdo: <strong>{{content.titleContent}}</strong></h2>

<form action="/manager/editar-conteudo/{{name}}/{{content._id}}" method="POST">
    <div class="card">
        <div class="card-body">
            <label for="titleContent">Título do conteúdo:</label>
            <input class="form-control" type="text" id="titleContent" name="titleContent"
                value="{{content.titleContent}}" required>

            <label class="mt-1" for="descriptionContent">Descrição do conteúdo:</label>
            <textarea class="form-control" type="text" id="descriptionContent" name="descriptionContent" required>{{content.descriptionContent}}</textarea>

            <label class="mt-1" for="documentationsContent">Documentações:</label>
            <textarea class="form-control" type="text" id="documentationsContent" name="documentationsContent" rows="3"
            required>{{content.documentationsContent}}</textarea>

            {{#each content.topics}}
            <div class="mt-3 card">
                <div class="card-body">
                    <p><strong>Tópico {{@index}}</strong></p>
                    <div class="existing-topic">
                        <label class="mt-1" for="titleTopic">Título do tópico:</label>
                        <input class="form-control" type="text" name="existingTopics[{{@index}}][titleTopic]"
                            value="{{titleTopic}}" placeholder="Título do Tópico" required>
                        <label class="mt-1" for="subjectTopic">Conteúdo do tópico:</label>
                        <textarea class="form-control" type="text" name="existingTopics[{{@index}}][subjectTopic]"
                            placeholder="Detalhamento do Tópico" rows="4" required>{{subjectTopic}}</textarea>
                    </div>
                </div>
            </div>
            {{/each}}

            <div id="newTopicsContainer"></div>
            <div class="mt-3">
                <button class="btn btn-outline-success" type="button" onclick="adicionarTopico()">+</button>

                <button class="btn btn-success" type="submit">Finalizar</button>
            </div>
        </div>
    </div>
</form>



<script>
    let topicCount = {{content.topics.length}} - 1;

    function adicionarTopico() {
        const container = document.getElementById('newTopicsContainer');
        const divCard = document.createElement('div');
        divCard.className = 'mt-3 card';
        const divCardBody = document.createElement('div');
        divCardBody.className = 'card-body';
        const pTopicCount = document.createElement('p');
        pTopicCount.innerHTML = `<strong>Tópico ${topicCount + 1}</strong>`;
        const divSingleTopic = document.createElement('div');
        divSingleTopic.className = 'topic';

        divSingleTopic.innerHTML = `
            <label class="mt-1" for="titleTopic">Título do tópico:</label>
            <input class="form-control" type="text" name="newTopics[${topicCount}][titleTopic]" placeholder="Título do tópico" required>

            <label class="mt-1" for="subjectTopic">Conteúdo do tópico:</label>
            <textarea class="form-control" type="text" name="newTopics[${topicCount}][subjectTopic]" rows="4" placeholder="Conteúdo do tópico" required></textarea>
        `;

        divCardBody.appendChild(pTopicCount);
        divCardBody.appendChild(divSingleTopic);
        divCard.appendChild(divCardBody);
        container.appendChild(divCard);
        topicCount++;
    }
</script>