<h2>{{name}}</h2>
<hr>
<a href='{{areas.[0].options.add}}'><button class='btn btn-success'>Adicionar conteúdo</button></a>

{{#each content}}
  <div class='card mt-4'>
    <div class='card-body'>
      <h4>Nome da categoria: {{this.titleContent}}</h4>
      <small>Tipo da categoria: {{this.descriptionContent}}</small><br>
      <small>Data de criação: {{this.data}}</small><br>
      <table>
        <tr>
          <td>
            <a href='{{../areas.[0].options.edit}}/{{this._id}}' class='btn btn-success mt-2'>Editar</a>
          </td>
          <td>
          <form action="/manager/deletar-conteudo/{{_id}}" method="POST">
                    <button type="submit">Deletar</button>
          </form>
          </td>
        </tr>
      </table>
    </div>
  </div>
{{/each}}

{{#unless content}}
  <hr>
  <h4 class='mt-2'>Não há conteúdo registrado</h4>
{{/unless}}
